@import "./_mixin";

.section{
    z-index: 0;
    position: relative;
    padding-top: 100px;
}
.footer{
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $gray;
    color: $white;
}